<%= form_for :session, url: session_path, html: { id: 'sign-in_form', class: 'form' } do |form| %>
  <div class="text-field form-item">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: 'input' %>
  </div>

  <div class="password-field form-item">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'input' %>
  </div>

  <div class="submit-field form-item">
    <%= form.submit 'Sign in', class: 'btn' %>
  </div>

<!--  <div class="other-links form-item">-->
    <%#= link_to t(".forgot_password"), new_password_path, class: 'btn' %>
<!--  </div>-->
<% end %>
