<article class="sign-in container">

  <% if @admin_user.present? %>
    <h1 class="headline">Sign in to administration</h1>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= render partial: 'sign_in_form' %>
    <% end %>
  <% else %>
    <h1 class="headline">Create admin user for administration</h1>
    <%= render partial: 'sign_up_form' %>
  <% end %>

  <div class="go-back">
    <%= link_to 'Main page', root_path, class: 'btn' %>
  </div>

</article>