<ul class="gallery">
  <li class="gallery-item">
    <a class="image-link" href="<%= asset_path 'general/fotka.jpg' %>">
      <img src="<%= asset_path 'general/fotka.jpg' %>" alt="Popis fotky 1">
    </a>
  </li>
  <li class="gallery-item">
    <a class="image-link" href="<%= asset_path 'general/fotka2.jpg' %>">
      <img src="<%= asset_path 'general/fotka2.jpg' %>" alt="Popis fotky 2">
    </a>
  </li>
  <li class="gallery-item">
    <a class="image-link" href="<%= asset_path 'general/fotka3.jpg' %>">
      <img src="<%= asset_path 'general/fotka3.jpg' %>" alt="Popis fotky 3">
    </a>
  </li>
  <li class="gallery-item">
    <a class="image-link" href="<%= asset_path 'general/fotka4.jpg' %>">
      <img src="<%= asset_path 'general/fotka4.jpg' %>" alt="Popis fotky 4">
    </a>
  </li>
  <li class="gallery-item">
    <a class="image-link" href="<%= asset_path 'general/fotka5.jpg' %>">
      <img src="<%= asset_path 'general/fotka5.jpg' %>" alt="Popis fotky 5">
    </a>
  </li>
</ul>

<div class="image-box">
  <img src="<%= asset_path 'general/arrow.png' %>" alt="Left" class="left">
  <img src="<%= asset_path 'general/arrow.png' %>" alt="Right" class="right">
  <img src="" alt="" class="inner-img">
  <p class="image-text"></p>
  <button id="galerry-modal-close-btn" class="close-btn">X</button>
</div>